.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___4RWqD {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___4RWqD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___4RWqD > :global(.__wab_flex-container) > *,
.freeBox___4RWqD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4RWqD > :global(.__wab_flex-container) > picture > img,
.freeBox___4RWqD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__hbSbW {
  display: flex;
  flex-direction: column;
}
.freeBox__hbSbW > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__hbSbW > :global(.__wab_flex-container) > *,
.freeBox__hbSbW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hbSbW > :global(.__wab_flex-container) > picture > img,
.freeBox__hbSbW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__ck4V5 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__o3Kmh:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___9Y7M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wqH2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bR4PR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bdSvr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lt5R4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__erdk {
  height: auto;
}
.svg__q7Ywm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jHkzt:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__isq1N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ufAx0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wSGn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rszLs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8Mvb3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rd4Tx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__nnGv5:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__nb4Fi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o5WKn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zTakA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6Xksj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iyEm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__apV7L {
  height: auto;
}
.svg___9Jdmp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___9Qh0:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__zAyc1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lZmzt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__llQsX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mb8Wu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uVn6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hfmIk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rlaTh:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___6Vle0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7OkuD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kRkMf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ltnmS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sCPp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__lxgo {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__stSho {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wQpc:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__slIkx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__g5YUk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s7BrL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qadVj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iKvNk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__mmEv4 {
  height: auto;
}
.svg__naaBt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___9WThT {
  display: flex;
  flex-direction: column;
}
.freeBox___9WThT > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___9WThT > :global(.__wab_flex-container) > *,
.freeBox___9WThT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9WThT > :global(.__wab_flex-container) > picture > img,
.freeBox___9WThT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__z3NCj {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__q0AeA:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__eurpo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bh9Tq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2AGr6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___25N9F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ynHcC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bbAkl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__j5Z1L:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__v9YV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iaSjj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___88GlT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__djTgP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6WQky {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__ulyBy {
  height: auto;
}
.svg__dFrMe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___7SI1P:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___7IrUz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bBT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4Akvr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3VlKg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iKiQd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uMdIa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___1J3H {
  display: flex;
  flex-direction: column;
}
.freeBox___1J3H > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___1J3H > :global(.__wab_flex-container) > *,
.freeBox___1J3H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1J3H > :global(.__wab_flex-container) > picture > img,
.freeBox___1J3H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__qVr4H {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__salpS:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__iBbs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eLw4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gsWIr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__veOdl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wWfph {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__scUoO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__h7OGj:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___3LbHm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__arTxV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nAfv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dGfiW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dJtV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__vW03T {
  height: auto;
}
.svg__ti3Yt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jiGr8:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__z7Amw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__l45Ec {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uLvym {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__trz6O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cDteU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tzYzl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fkoZv:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__h4Fc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a7KNs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xm84Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3QI1J {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i0Ho1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__to3Ie {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__s8NS:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__yzikZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rZN7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Jkf8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9PGqC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eLa7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y8U9N {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___7ZWzh:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___2KW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yxcAc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e9GTl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nE8Qm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xn7V5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tH6Rf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__zg4Mc:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__sAsj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fbTJh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aXth9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__q2Hpm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lSp0B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6ZvrT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__jg5Vy {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jg5Vy > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jg5Vy > :global(.__wab_flex-container) > *,
.freeBox__jg5Vy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jg5Vy > :global(.__wab_flex-container) > picture > img,
.freeBox__jg5Vy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jg5Vy > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard__frjlp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__nE8Cq {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__nE8Cq > picture > img {
  object-fit: cover;
}
.img__nE8Cq > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__b5JSa {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__vds9K {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__wReB {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__blaYx {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__z8ONg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__ePrC0 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ePrC0 > picture > img {
  object-fit: cover;
}
.img__ePrC0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__vVkQ6 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__eSpn6 {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__m5JAb {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox___7MgWi {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__gtrjb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__xixsq {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__xixsq > picture > img {
  object-fit: cover;
}
.img__xixsq > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__cjkf {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__owXyL {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__pL8R {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__jmNdh {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__qJktL:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img___9Bmh0 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___9Bmh0 > picture > img {
  object-fit: cover;
}
.img___9Bmh0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___4NjV6 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox___7ESdE {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__eUjbs {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__puAXt {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__rwTj9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__ujO4A {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ujO4A > picture > img {
  object-fit: cover;
}
.img__ujO4A > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__l79J1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__dEjJ {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__tg00G {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__tGEyU {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__wBmMs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__ryCkv {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ryCkv > picture > img {
  object-fit: cover;
}
.img__ryCkv > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__tTt2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__hwf5K {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox___0H84S {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__qPr04 {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__luSvo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__zXPty {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zXPty > picture > img {
  object-fit: cover;
}
.img__zXPty > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__scfOk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__wMhRb {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__bsDcw {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__me0Wv {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__zt7XV:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__hQv2 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__hQv2 > picture > img {
  object-fit: cover;
}
.img__hQv2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__m1MZq {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__m8999 {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__p0ISe {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__ndN5T {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__aKdv0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__owrSu {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__owrSu > picture > img {
  object-fit: cover;
}
.img__owrSu > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__oEm6Q {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__bIWmt {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox___8IaEt {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__wb78V {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__dbbmb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__jmjR6 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__jmjR6 > picture > img {
  object-fit: cover;
}
.img__jmjR6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__dRt6E {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__kQrjU {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__nxRk {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__pgE7 {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__fOcB8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__ccHcJ {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ccHcJ > picture > img {
  object-fit: cover;
}
.img__ccHcJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__vAh2W {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__cpbA {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__nOd9E {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__pkjoO {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__kHj4G:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__auF4A {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__auF4A > picture > img {
  object-fit: cover;
}
.img__auF4A > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__gKz86 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__m9PsH {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__hVbh {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__lcPRc {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__uImnH:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__hcLkh {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__hcLkh > picture > img {
  object-fit: cover;
}
.img__hcLkh > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__lnWdu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__hcJuo {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__m3Xkj {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__dBk5P {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__iRaqx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img___8LGcj {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___8LGcj > picture > img {
  object-fit: cover;
}
.img___8LGcj > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__kt9F4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox___7SQv {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__xtNsO {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__qebK {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__kyQbM:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__h63Pm {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__h63Pm > picture > img {
  object-fit: cover;
}
.img__h63Pm > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__zRtp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__n6LU {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__jZuFj {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__xwZmZ {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.freeBox__jUtTh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__jUtTh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jUtTh > :global(.__wab_flex-container) > *,
.freeBox__jUtTh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jUtTh > :global(.__wab_flex-container) > picture > img,
.freeBox__jUtTh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__cCMkz {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.freeBox__jQz1V {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textbox {
  line-height: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root .textbox:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.button__vRkCm:global(.__wab_instance) {
  position: relative;
}
.svg__cei3X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ajoha {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pqsJe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eNeCf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uLnEu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jjmJx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__wJDv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__wJDv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__wJDv > :global(.__wab_flex-container) > *,
.freeBox__wJDv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wJDv > :global(.__wab_flex-container) > picture > img,
.freeBox__wJDv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__xLrTg {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__vE4Xp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vE4Xp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vE4Xp > :global(.__wab_flex-container) > *,
.freeBox__vE4Xp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vE4Xp > :global(.__wab_flex-container) > picture > img,
.freeBox__vE4Xp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__l8Q0R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__nfZyh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4JRv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iLv1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vtswZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eoJz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gZhs4:global(.__wab_instance) {
  position: relative;
}
.svg__uoe2M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___9BQLx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fnbgg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4MSjn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ijVL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__ueUkn {
  height: auto;
}
.svg__nuENn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__murnO:global(.__wab_instance) {
  position: relative;
}
.svg__zs5Bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__gHyQq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5QFjv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s4AXi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__grfAr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__qoq7F {
  height: auto;
}
.svg__qbAFc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__oCPn9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__oCPn9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__oCPn9 > :global(.__wab_flex-container) > *,
.freeBox__oCPn9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oCPn9 > :global(.__wab_flex-container) > picture > img,
.freeBox__oCPn9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___0ZuJu {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__cDp4M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__j4W2W {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__j4W2W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__j4W2W > :global(.__wab_flex-container) > *,
.freeBox__j4W2W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j4W2W > :global(.__wab_flex-container) > picture > img,
.freeBox__j4W2W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__bDNuU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ibRh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3Jhl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k1SvA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uqGm5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vApuS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sDpT0:global(.__wab_instance) {
  position: relative;
}
.svg__wZQhF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nwSxK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uygnS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__c9DoF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wBw97 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iRtOw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__daxU:global(.__wab_instance) {
  position: relative;
}
.svg__ktKy4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kfPy1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___821Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qz4K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Bywp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bxTw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__g71XE:global(.__wab_instance) {
  position: relative;
}
.svg___78VZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ptMh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__otFnl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gNm8W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__m9Zud {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dqjun {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ocSbT {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ocSbT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ocSbT > :global(.__wab_flex-container) > *,
.freeBox__ocSbT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ocSbT > :global(.__wab_flex-container) > picture > img,
.freeBox__ocSbT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button___5XPao:global(.__wab_instance) {
  position: relative;
}
.svg__dEdRt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__foPi4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__biiDb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yRo31 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fe3NB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uOKrM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ae4Jy:global(.__wab_instance) {
  position: relative;
}
.svg__qzJwe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jmgJn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9RNVz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vuRGw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vBtUy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y7FGp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__oMyIi:global(.__wab_instance) {
  position: relative;
}
.svg__wsOnu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cc1Pn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qJp4A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__t5UvM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mvuwO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9UizG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
