.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__p8Zcb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__p8Zcb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__p8Zcb > :global(.__wab_flex-container) > *,
.freeBox__p8Zcb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p8Zcb > :global(.__wab_flex-container) > picture > img,
.freeBox__p8Zcb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__vHvFy {
  display: flex;
  flex-direction: column;
}
.freeBox__vHvFy > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vHvFy > :global(.__wab_flex-container) > *,
.freeBox__vHvFy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vHvFy > :global(.__wab_flex-container) > picture > img,
.freeBox__vHvFy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__cnwld {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__bd6Hc:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__b2Jf6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d1Zai {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pDoi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__txS2N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eoqYt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__qw5Sq {
  height: auto;
}
.svg__o1Bn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__u4Wm1:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__aukQq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jeilT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oyvNk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e1T16 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__r4P3Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__duHxx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__waj9:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__hsIth {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Bc3U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nGlDl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ck92R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__t9Dlx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___3Ler1 {
  height: auto;
}
.svg__xT8Qa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__vGoAv:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___34AtK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__husuy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ajsSl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jJzwv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dDajz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s7P9D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___2C1Kn:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__reHO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8ZMjd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b7D5D {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wVy7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oCshr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__xin4I {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg___5P6Qr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rvAiA:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__ng8VC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4VZdX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wVDg0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nFkRr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yuTir {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__bp4Lr {
  height: auto;
}
.svg__mnAws {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__p6Njp {
  display: flex;
  flex-direction: column;
}
.freeBox__p6Njp > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__p6Njp > :global(.__wab_flex-container) > *,
.freeBox__p6Njp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p6Njp > :global(.__wab_flex-container) > picture > img,
.freeBox__p6Njp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__y2DkW {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  display: none;
  padding: 8px 12px;
}
.button__uxUi9:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg___150V3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fXge3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vstz1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hDpCp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8Yxuo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aabvA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__izO3:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__rthls {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aw9Pz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Xlob {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uvJxO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__shrl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__kfD2I {
  height: auto;
}
.svg__zYaOp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hyePl:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__kAf3L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bqiuE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1Gt8D {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gGx0F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nctQh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jn4D4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__qgibc {
  display: flex;
  flex-direction: column;
}
.freeBox__qgibc > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__qgibc > :global(.__wab_flex-container) > *,
.freeBox__qgibc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qgibc > :global(.__wab_flex-container) > picture > img,
.freeBox__qgibc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___7IljG {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__jN9Y:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___2XPt9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pOCo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9O72D {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__suDle {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qfLz1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__grDsd {
  height: auto;
}
.svg__mybDt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ahStS:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__yImw8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fh3Xg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1NNw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vjVr1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ytvIv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__cooXf {
  height: auto;
}
.svg__aYiGw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tyGjS:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__cYfg8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cyZoy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rEhUq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__euLpv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sNkTt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pdQoM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wJe57:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__e5KF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mWaP8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xzimd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__udLrZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jqPv4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uanlQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hWiLf:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__diqiF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jJ4G6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__p7MoS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ckfGk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vmw90 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b3TH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ew6Ka:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__pmZHm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wd5Hv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f2Mbo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pTLk9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eH88C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mkLyj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__xlTyb:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__uyXa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yyfaT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eVcXc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wseOv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3ZEyH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__pvm26 {
  display: none;
}
.svg__zj3R {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__xvspb {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 289px;
}
.freeBox__xvspb > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xvspb > :global(.__wab_flex-container) > *,
.freeBox__xvspb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xvspb > :global(.__wab_flex-container) > picture > img,
.freeBox__xvspb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xvspb > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard__pm6TS:global(.__wab_instance) {
  position: relative;
  width: 249px;
  height: 229px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__pm6TS:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__iDjBi {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__iDjBi > picture > img {
  object-fit: cover;
}
.img__iDjBi > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__u18Vy {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #000000;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 35px;
  width: 197px;
  display: none;
}
.freeBox___3E9Ln {
  width: 100%;
  height: auto;
  color: #0e0e0e;
  text-align: left;
  min-width: 0;
  display: none;
}
.freeBox__dycZk {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__i350Z {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard___0XvUd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__lWxXl {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__lWxXl > picture > img {
  object-fit: cover;
}
.img__lWxXl > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__lINe {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__ciE8 {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__uHelZ {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox___6Xx0E {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__eoHOj:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__mfL2T {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__mfL2T > picture > img {
  object-fit: cover;
}
.img__mfL2T > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__nSmr {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__dHwN8 {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__x4Ud {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox___6Qfjf {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__mdQdz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__cmK3 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__cmK3 > picture > img {
  object-fit: cover;
}
.img__cmK3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__ddTk3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__xeYWn {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__lPVcd {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__pdXGj {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard___8Zv4A:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__dPcmV {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__dPcmV > picture > img {
  object-fit: cover;
}
.img__dPcmV > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__mtCz7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__t403U {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox___7BS8 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__roeyc {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__atOvs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__isMbS {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__isMbS > picture > img {
  object-fit: cover;
}
.img__isMbS > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__dtEg {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox___0PRGy {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__op4X5 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__kPyB {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__i90Ea:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__s4Lv1 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__s4Lv1 > picture > img {
  object-fit: cover;
}
.img__s4Lv1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__eewcD {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__ydHf {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__zChqH {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__lkyFf {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard___3TMpC:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__hSiy7 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__hSiy7 > picture > img {
  object-fit: cover;
}
.img__hSiy7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__qNq72 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__ngNWx {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__vVntj {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__byPvI {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard___2Fhrh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__abi0H {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__abi0H > picture > img {
  object-fit: cover;
}
.img__abi0H > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__s5Bwm {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__puqSm {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__mz6WF {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__h6TvO {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__zpyTw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__qu32O {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__qu32O > picture > img {
  object-fit: cover;
}
.img__qu32O > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__hwZbm {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__bUmvw {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__mf5Sd {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__bMfQ {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__o9TMr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__cRzd4 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__cRzd4 > picture > img {
  object-fit: cover;
}
.img__cRzd4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__xNtu7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox___5XjQz {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__qH2Zj {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__jg0IC {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard___1RGDn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__bAibE {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__bAibE > picture > img {
  object-fit: cover;
}
.img__bAibE > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__iYyZ {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox___6RAr3 {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox___1Mo6Q {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__mmAzu {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__un6W:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__vRecC {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__vRecC > picture > img {
  object-fit: cover;
}
.img__vRecC > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__l6XOa {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__kpi1 {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__f3Qjn {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__otPic {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__mozAy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__bdsJe {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__bdsJe > picture > img {
  object-fit: cover;
}
.img__bdsJe > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__r2O1G {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__jiYIn {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox___4U9Bz {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__ixyp {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__cbrEd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img___4D4W {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___4D4W > picture > img {
  object-fit: cover;
}
.img___4D4W > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___4Mlbp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__kl6Ik {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__k5VQb {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__hfJgJ {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__sJvr8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__vtiwo {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__vtiwo > picture > img {
  object-fit: cover;
}
.img__vtiwo > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__xLo7I {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox___4LPzf {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__s2J9N {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__scRcG {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.freeBox___4XhEg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___4XhEg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___4XhEg > :global(.__wab_flex-container) > *,
.freeBox___4XhEg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4XhEg > :global(.__wab_flex-container) > picture > img,
.freeBox___4XhEg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__sEg4C {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__vp3T {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vp3T > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vp3T > :global(.__wab_flex-container) > *,
.freeBox__vp3T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vp3T > :global(.__wab_flex-container) > picture > img,
.freeBox__vp3T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__sg4Ff {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__rthLg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iJb1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yT6Dk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jSf2D {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ywjJc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__i6Acu:global(.__wab_instance) {
  position: relative;
}
.svg__nPkpI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__m7VZy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d1N19 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2BDz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6Hzjf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__m0SBy {
  height: auto;
}
.svg__nHUg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tqJxM:global(.__wab_instance) {
  position: relative;
}
.svg__sjFq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__do3WH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sf28 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ybt7B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v61X6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__iapJh {
  height: auto;
}
.svg__jbY5D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__eWhNe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__eWhNe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__eWhNe > :global(.__wab_flex-container) > *,
.freeBox__eWhNe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eWhNe > :global(.__wab_flex-container) > picture > img,
.freeBox__eWhNe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__rYnLb {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__ndReB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__gA5Cm {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__gA5Cm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__gA5Cm > :global(.__wab_flex-container) > *,
.freeBox__gA5Cm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gA5Cm > :global(.__wab_flex-container) > picture > img,
.freeBox__gA5Cm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__ymPuy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__isRE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hzbGr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ieMtF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tSdK9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gapF3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ukBc:global(.__wab_instance) {
  position: relative;
}
.svg__kKhq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kylt0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ymNp9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vm7LT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zq2BS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o2Zaq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kxSnb:global(.__wab_instance) {
  position: relative;
}
.svg__tKi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hwlo9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dCeZ9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__muGcm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uRscS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a0U0Z {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___4Slpu:global(.__wab_instance) {
  position: relative;
}
.svg__rpa0Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hRsg2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mbDp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wbIp3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eMj2C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3KFNb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__tlm8U {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__tlm8U > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__tlm8U > :global(.__wab_flex-container) > *,
.freeBox__tlm8U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tlm8U > :global(.__wab_flex-container) > picture > img,
.freeBox__tlm8U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button___9QMwu:global(.__wab_instance) {
  position: relative;
}
.svg__pMrC4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hVRkP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4Dec {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xpJlD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jNwUy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hmv0Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__pzLl2:global(.__wab_instance) {
  position: relative;
}
.svg__kYaQb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aqtyc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yzMqn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dno8I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lqNtz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__upZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sP4St:global(.__wab_instance) {
  position: relative;
}
.svg__t1ZZn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ckVdc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dyeSu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oBld7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__naaZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aWz8B {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
