.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__pt6Xr {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 986px;
  flex-shrink: 0;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__pt6Xr {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1102px;
    flex-column-gap: 0px;
    flex-shrink: 0;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.img__xyTa {
  position: relative;
  object-fit: cover;
}
.img__xyTa > picture > img {
  object-fit: cover;
}
.img__xyTa > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xyTa {
    display: none;
  }
}
.container4322 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container4322 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container4322 > :global(.__wab_flex-container) > *,
.container4322 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container4322 > :global(.__wab_flex-container) > picture > img,
.container4322
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 > :global(.__wab_flex-container) > *,
  .container4322 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container4322 > :global(.__wab_flex-container) > picture > img,
  .container4322
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox__vzdj7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 631px;
  min-width: 0;
}
.freeBox__vzdj7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vzdj7 > :global(.__wab_flex-container) > *,
.freeBox__vzdj7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vzdj7 > :global(.__wab_flex-container) > picture > img,
.freeBox__vzdj7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__hDtA {
  object-fit: cover;
  width: 495px;
  height: 467px;
  flex-shrink: 0;
  border-radius: 2px;
}
.img__hDtA > picture > img {
  object-fit: cover;
}
.img__hDtA > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__hDtA {
    display: none;
  }
}
.freeBox___9Xu3I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___9Xu3I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___9Xu3I > :global(.__wab_flex-container) > *,
.freeBox___9Xu3I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Xu3I > :global(.__wab_flex-container) > picture > img,
.freeBox___9Xu3I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Xu3I {
    height: 577px;
    flex-shrink: 0;
  }
}
.freeBox___67J7J {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  position: relative;
}
.price:global(.__wab_instance) {
  position: relative;
}
.freeBox__i6JRd {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.freeBox__ooqjn {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  width: auto;
  display: inline-block;
}
.freeBox__eCgDm {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
  width: auto;
  display: inline-block;
}
.separator__cflbd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__xLeYd {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__xLeYd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__xLeYd > :global(.__wab_flex-container) > *,
.freeBox__xLeYd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xLeYd > :global(.__wab_flex-container) > picture > img,
.freeBox__xLeYd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xLeYd {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xLeYd > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xLeYd > :global(.__wab_flex-container) > *,
  .freeBox__xLeYd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xLeYd > :global(.__wab_flex-container) > picture > img,
  .freeBox__xLeYd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__lpcQs {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__lpcQs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__lpcQs > :global(.__wab_flex-container) > *,
.freeBox__lpcQs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lpcQs > :global(.__wab_flex-container) > picture > img,
.freeBox__lpcQs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___69POj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ns8UI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mx5VB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bx9TZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zqNzA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nPqWq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__k5Fl7:global(.__wab_instance) {
  width: 180px;
  flex-shrink: 0;
}
.svg___8YWr5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6JQWd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3Da3X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gMdSx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xUMc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1E85G {
  position: relative;
  object-fit: cover;
  width: 40px;
  height: 28px;
}
.svg__i0Cze {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__iB9J {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__iB9J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iB9J > :global(.__wab_flex-container) > *,
.freeBox__iB9J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iB9J > :global(.__wab_flex-container) > picture > img,
.freeBox__iB9J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__smkJt {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.freeBox__xvIRf {
  height: auto;
}
.separator__puQud:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__barN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__barN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__barN > :global(.__wab_flex-container) > *,
.freeBox__barN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__barN > :global(.__wab_flex-container) > picture > img,
.freeBox__barN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__kRKvP {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.freeBox__rHfvb {
  height: auto;
}
.separator___20C0J:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__u6LX6 {
  height: auto;
}
.separator___0Ick:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.separator__kdul1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.section__rUiVr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__rUiVr {
    height: 526px;
    flex-shrink: 0;
  }
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__g3RD {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.freeBox__dEz7W {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__slDDj:global(.__wab_instance) {
  position: relative;
}
.svg__qvj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zzlVm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__um3PG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xzHb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f5W2O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lJqD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__luolc {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.freeBox__luolc > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__luolc > :global(.__wab_flex-container) > *,
.freeBox__luolc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__luolc > :global(.__wab_flex-container) > picture > img,
.freeBox__luolc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.productCard__q9Ujr:global(.__wab_instance) {
  flex-shrink: 0;
}
.img__gBvPz {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.img__gBvPz > picture > img {
  object-fit: cover;
}
.img__gBvPz > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__pBkP7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__b9CyZ {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__ibHcn {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__b60Dg {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__ickqS:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__byneh {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.img__byneh > picture > img {
  object-fit: cover;
}
.img__byneh > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__zgHu7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__kmg2N {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__uLtn8 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox___03WGi {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__i9Ezn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__tVvLc {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.img__tVvLc > picture > img {
  object-fit: cover;
}
.img__tVvLc > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__wUvkw {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__jdf {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox___9CVrL {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__yOKjU {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__pEga4:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__dnP6A {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__dnP6A > picture > img {
  object-fit: cover;
}
.img__dnP6A > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__yOkhL {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__qeiJs {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__rqEV {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__pdKyC {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__y9Hcn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__vdpMa {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__vdpMa > picture > img {
  object-fit: cover;
}
.img__vdpMa > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__qBwXt {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__wb0Jr {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__vxqxv {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__xycqu {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__sqWtU:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___4SGz {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img___4SGz > picture > img {
  object-fit: cover;
}
.img___4SGz > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__iucb0 {
  width: 100%;
  height: auto;
  text-align: left;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  min-width: 0;
}
.freeBox___52IuY {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox___68Ii3 {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.footer:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer:global(.__wab_instance) {
    height: 913px;
    flex-shrink: 0;
  }
}
.freeBox__n3JcM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__n3JcM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__n3JcM > :global(.__wab_flex-container) > *,
.freeBox__n3JcM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n3JcM > :global(.__wab_flex-container) > picture > img,
.freeBox__n3JcM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__bnU8E {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.freeBox__cwH3O {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textbox {
  line-height: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root .textbox:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.button___7FpLj:global(.__wab_instance) {
  position: relative;
}
.svg__xiFyg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__m6U1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8Mu0I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vOgnz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Xp6F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oRx5W {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__qWeF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__qWeF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qWeF > :global(.__wab_flex-container) > *,
.freeBox__qWeF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qWeF > :global(.__wab_flex-container) > picture > img,
.freeBox__qWeF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___9Utzq {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__jrXl {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jrXl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jrXl > :global(.__wab_flex-container) > *,
.freeBox__jrXl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jrXl > :global(.__wab_flex-container) > picture > img,
.freeBox__jrXl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__pySxw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__tHyxn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dMwq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pm0Ae {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b9M1X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eieij {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__cl2AO:global(.__wab_instance) {
  position: relative;
}
.svg__rwKD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___6JZYw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Q01F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__m9WoR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dqdJw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___8Hrv {
  height: auto;
}
.svg___63Ime {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sngwz:global(.__wab_instance) {
  position: relative;
}
.svg__ujbzT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__eW6X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o1Qv1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xjuN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qSTfC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__apSH {
  height: auto;
}
.svg__ou7Jh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ah0YP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ah0YP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ah0YP > :global(.__wab_flex-container) > *,
.freeBox__ah0YP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ah0YP > :global(.__wab_flex-container) > picture > img,
.freeBox__ah0YP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__cjoWt {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__wg3Z9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__d5WU1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__d5WU1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__d5WU1 > :global(.__wab_flex-container) > *,
.freeBox__d5WU1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d5WU1 > :global(.__wab_flex-container) > picture > img,
.freeBox__d5WU1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__vjIJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__g6Xmt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rymmh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Cpw1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lyMkD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4Uwzz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ddoTr:global(.__wab_instance) {
  position: relative;
}
.svg___1JhOl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fdYpC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uJUg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3Jtqs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fYo2Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ufWBk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gC9AJ:global(.__wab_instance) {
  position: relative;
}
.svg__e1E0Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__usJl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__t4TAc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Oagx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__olZyq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y2Rw9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__vId8:global(.__wab_instance) {
  position: relative;
}
.svg__qucHw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Iy2F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__c5MMr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aZxEr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xzMkN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mmJjW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__yQpud {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__yQpud > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__yQpud > :global(.__wab_flex-container) > *,
.freeBox__yQpud > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yQpud > :global(.__wab_flex-container) > picture > img,
.freeBox__yQpud
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__bUmiZ:global(.__wab_instance) {
  position: relative;
}
.svg__qI7Cb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jUndq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fcwl4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Vx5P {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mzHLg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pbx2J {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__yf9Q6:global(.__wab_instance) {
  position: relative;
}
.svg__lNuW2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pRbL8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oamI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s0Upu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cxQep {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2OnAy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sxEe7:global(.__wab_instance) {
  position: relative;
}
.svg__eifrv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jGz75 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ep7AH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h8N3Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o7CK9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1MPzc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
