.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  box-shadow: 2px 4px 5px 3px #00000014;
  min-width: 0;
}
.container2 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-width: 0;
  padding: 32px;
}
.container2__filled {
  height: auto;
}
.svg__fjDZr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lWqc {
    display: none;
  }
}
.svg__t3Jqw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__g4QA2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Vk25 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aRlO8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mNzeE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___6CiB {
  display: block;
  position: relative;
  width: 63.994789123535156px;
  height: 64px;
  background: #ffffff33;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6CiB {
    display: none;
  }
}
.img {
  position: relative;
  object-fit: cover;
  width: 293px;
  height: 34px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__searchOpen {
  left: auto;
  top: auto;
}
.freeBox__rax9W {
  display: block;
  position: relative;
}
.freeBox__filled__rax9Wcs7Di {
  width: 20px;
  flex-shrink: 0;
  display: none;
}
.spacerForLogo1 {
  display: block;
  position: relative;
  width: 1px;
  overflow: hidden;
  background: #ffffff;
  flex-shrink: 0;
}
.freeBox__tjHkd {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
}
.freeBox__oiG2Z {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__oiG2Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__oiG2Z > :global(.__wab_flex-container) > *,
.freeBox__oiG2Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oiG2Z > :global(.__wab_flex-container) > picture > img,
.freeBox__oiG2Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button__searchOpen__nSeJatAza:global(.__wab_instance) {
  min-width: 200px;
}
.svg__xernk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__eVxvn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vtlY7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h7YAv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f5JqN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mbaLk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.textbox {
  position: relative;
  min-width: 200px;
}
.textbox__searchOpen {
  line-height: 24px;
  width: 122px;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 3px solid #e5e5ea;
}
.root__searchOpen .textbox__searchOpen:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.svg__x0Tlp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pbki3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__aoafa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3Vxog {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iMdIl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mAh6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__x53HH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__uloaA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__zj1Mz {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__wenGc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__oMze {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pn698 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___17FPf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__l5Mdo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
