.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__cDbSq {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  height: 410px;
  background: url("/plasmic/ecommerce_starter/images/untitledDrawing3Png.png") 0% 0% / 100% 100% repeat, #000000;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__cDbSq {
    padding-bottom: 0px;
    width: 414px;
    height: 147px;
    background: url("/plasmic/ecommerce_starter/images/untitledDrawing3Png.png") 0% 0% / 100% 100% repeat padding-box
        padding-box,
      #000000;
    align-self: flex-start;
    flex-shrink: 0;
  }
}
.img {
  position: relative;
  object-fit: cover;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    width: 355px;
    height: 145px;
    flex-shrink: 0;
  }
}
.section__ekdvc {
  position: relative;
  top: auto;
  left: auto;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  height: 170px;
  background: none;
  align-content: unset;
  border-bottom-width: 4px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  flex-shrink: 0;
  border-style: solid;
  border-color: #e4e4e4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ekdvc {
    padding-bottom: 0px;
    left: auto;
    top: auto;
    height: 65px;
    flex-shrink: 0;
  }
}
.button__xszLx:global(.__wab_instance) {
  position: absolute;
  left: 600px;
  top: 45px;
  width: 166px;
  height: 46px;
}
.svg__cacDe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__nOs3Q {
  font-weight: 700;
  height: auto;
  color: #2c2c2c;
}
.svg__oxZrp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__j3Nzy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__chSAk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zsVy7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2MRks {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__ob6Xf {
  position: absolute;
  text-align: center;
  height: auto;
  color: #141414;
  font-weight: 400;
  left: 493px;
  top: 104px;
}
.button__mypkJ:global(.__wab_instance) {
  position: absolute;
  left: 80px;
  top: 34px;
  width: 166px;
  height: 46px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__mypkJ:global(.__wab_instance) {
    left: 155px;
    top: 11px;
    width: 93px;
    height: 32px;
  }
}
.svg__d2OLg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__d2OLg {
    width: 18px;
    height: 16px;
    display: none;
  }
}
.freeBox__wptXh {
  font-weight: 700;
  height: auto;
  color: #2c2c2c;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wptXh {
    font-size: 10px;
    height: auto;
  }
}
.svg__oERhv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mBDcp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wjCbg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tmcKb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8S6Eh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.section___7Xj94 {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #ffffff;
  height: 724px;
  flex-shrink: 0;
}
.freeBox__vOgyp {
  position: absolute;
  left: 581px;
  top: 53px;
  height: auto;
  color: #313131;
  font-weight: 600;
  font-size: 23px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__a2A8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__a2A8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__a2A8 > :global(.__wab_flex-container) > *,
.freeBox__a2A8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a2A8 > :global(.__wab_flex-container) > picture > img,
.freeBox__a2A8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__skCh4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
  width: auto;
  display: inline-block;
}
.freeBox__jlKkW {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jlKkW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jlKkW > :global(.__wab_flex-container) > *,
.freeBox__jlKkW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jlKkW > :global(.__wab_flex-container) > picture > img,
.freeBox__jlKkW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__nrHWz:global(.__wab_instance) {
  display: none;
}
.svg__h7G9L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__gNemN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fEcTx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hOuo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__beDZw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pmAwz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kqRpa:global(.__wab_instance) {
  position: relative;
  display: none;
}
.svg__nJqGm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___7SHkn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hgsls {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wD6ZO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gbQZj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__gxeUb {
  height: auto;
}
.svg___80UgL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__qnMxO:global(.__wab_instance) {
  position: relative;
}
.svg__vogp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___4Y0Vz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qc7D7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nsN6T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lOoXf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__maKut {
  height: auto;
}
.svg__xGbv7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___2VDic:global(.__wab_instance) {
  position: relative;
}
.svg__grr3G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__hMz3W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kWmjp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e8GQa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uUyC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__kEB {
  height: auto;
}
.svg__ksK8S {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__r5Def {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__r5Def > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__r5Def > :global(.__wab_flex-container) > *,
.freeBox__r5Def > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r5Def > :global(.__wab_flex-container) > picture > img,
.freeBox__r5Def
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__f5PaX {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
  color: #333333;
}
.freeBox__jijLh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox___5Xqj {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 193px;
  min-width: 0;
}
.freeBox___5Xqj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___5Xqj > :global(.__wab_flex-container) > *,
.freeBox___5Xqj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Xqj > :global(.__wab_flex-container) > picture > img,
.freeBox___5Xqj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__fw29Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lOM6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yyq6G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nxXz2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hAgjT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__gWpnG {
  height: auto;
}
.svg___7RVcj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ecHdg:global(.__wab_instance) {
  position: relative;
}
.svg__bUdoC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s9Ql {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jAiTx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o573R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rQjtV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__qtDd7 {
  height: auto;
}
.svg__miqJv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___8WgYq:global(.__wab_instance) {
  position: relative;
}
.svg___7OcXe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__imHDb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kf82Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__za2Vh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__olj1X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___9Cyxm {
  height: auto;
}
.svg__hLkp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__y7Jgb:global(.__wab_instance) {
  position: relative;
}
.svg___9QYfq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2K8Dj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cJuMg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4CnXm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lPmjz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__rdnR9 {
  height: auto;
}
.svg__w3RlE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__s8WAs:global(.__wab_instance) {
  position: relative;
}
.svg__t9Jfx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__op0An {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tdzyW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bwhgs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s76B9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__iQeG {
  display: none;
}
.svg__pk6Fj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___4PsOr:global(.__wab_instance) {
  position: relative;
}
.svg___2MR8V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__atcYs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9I92 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pBdPx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f2X7Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__xo7B6 {
  display: none;
}
.svg__mFpf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__yZvE1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__yZvE1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__yZvE1 > :global(.__wab_flex-container) > *,
.freeBox__yZvE1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yZvE1 > :global(.__wab_flex-container) > picture > img,
.freeBox__yZvE1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__yeo9E:global(.__wab_instance) {
  position: relative;
}
.svg__lUi0T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__plXge {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4Gfj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lc3Qd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__guq1B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__gmIq {
  display: none;
}
.svg__zVTi8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gUlLu:global(.__wab_instance) {
  position: relative;
}
.svg___3YngT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lXBkl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mtfcv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__w1Nw5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cfQhj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__caDaC {
  display: none;
}
.svg___3HgKi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__o7W9K:global(.__wab_instance) {
  position: relative;
}
.svg__jxn2P {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sfjWt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uORmM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o3Z5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jcrw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__pAsuy {
  display: none;
}
.svg__yidPb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
