.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__dFoKt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__dFoKt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__dFoKt > :global(.__wab_flex-container) > *,
.freeBox__dFoKt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dFoKt > :global(.__wab_flex-container) > picture > img,
.freeBox__dFoKt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__u7Xd5 {
  display: flex;
  flex-direction: column;
}
.freeBox__u7Xd5 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__u7Xd5 > :global(.__wab_flex-container) > *,
.freeBox__u7Xd5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u7Xd5 > :global(.__wab_flex-container) > picture > img,
.freeBox__u7Xd5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___8RYh0 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__ugu2J:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__j90Wr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mpX7L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lFv07 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Jp7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iwHd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__hhmh {
  height: auto;
}
.svg__geUb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kvvg4:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg___28A8N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__we9Jo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__idmX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__arqVk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eXlDu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__av1Vt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__cDx4:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__tuxbt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gndi0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7Lw5W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mrgXc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oz0L3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___1I3J {
  height: auto;
}
.svg__bxN3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wmpzf:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__v57Qe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rjLr4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qLw5G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__urENc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__evcnX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wtUD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___7XxJe:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__ruSEg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k6Gdm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zlDpv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hQQgC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cSeae {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__dUlF6 {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__lzUpi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ntth6:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__hZFek {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pPtCl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hv1Xm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ybGzd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lHlZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___5K06 {
  height: auto;
}
.svg__kjJp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__o2XdE {
  display: flex;
  flex-direction: column;
}
.freeBox__o2XdE > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__o2XdE > :global(.__wab_flex-container) > *,
.freeBox__o2XdE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o2XdE > :global(.__wab_flex-container) > picture > img,
.freeBox__o2XdE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__mbm34 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button___1EVqD:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___5Ipbq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v0Ruo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mfGy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d4O6X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i1UOq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pyK3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__glfOy:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__wWsJv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rs2Ie {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__isR4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__koA3E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tSaim {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__ib2Jj {
  height: auto;
}
.svg___2ITnC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__a7TLd:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__iM1S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eTce9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wV5UM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__z4Z9H {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__flbyS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v7Ogo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__aL4L {
  display: flex;
  flex-direction: column;
}
.freeBox__aL4L > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__aL4L > :global(.__wab_flex-container) > *,
.freeBox__aL4L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aL4L > :global(.__wab_flex-container) > picture > img,
.freeBox__aL4L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___0KBxk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__iByUw:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__t4KJj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xp7VF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pRydx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cpJbT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pp18Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d8CsJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__g5PKj:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__qmjoh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rgj3B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qPbmw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kkCEn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nSgu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___5QfoJ {
  height: auto;
}
.svg___5JiJz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fVv3:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__w4HQw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e9Om {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__etYsP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dhyOv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cUtVg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mg8Ze {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rfz5T:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__jbL0B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dhKcr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ch2B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qdTrS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zd1IN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8RvnR {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__vPos:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__xJvww {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8RX4S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__u1Nj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ad1Um {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9P6Uw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vwOYd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sSw0U:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__mM3Xw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oxSwt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3Y611 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Dez7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jWlNd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__g5IUp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__aPriE:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___85Yud {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jdjIt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__l4NPv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5AQd2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tofzc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__atBpv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ntl1O {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ntl1O > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ntl1O > :global(.__wab_flex-container) > *,
.freeBox__ntl1O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ntl1O > :global(.__wab_flex-container) > picture > img,
.freeBox__ntl1O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ntl1O > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard__ndJae:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__aifS7 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__aifS7 > picture > img {
  object-fit: cover;
}
.img__aifS7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__yYkDt {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__hPdvL {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__rcFqg {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__xUjNc {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__fdFfN:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__jfPwe {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__jfPwe > picture > img {
  object-fit: cover;
}
.img__jfPwe > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___5SVE {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__pIzM3 {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox___285BI {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__fdfnc {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__uHprj:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__yJyc1 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__yJyc1 > picture > img {
  object-fit: cover;
}
.img__yJyc1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__fBmwd {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox___3Ka1D {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__fsguA {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__mLW5 {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard___9T7Bt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__jm5Be {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__jm5Be > picture > img {
  object-fit: cover;
}
.img__jm5Be > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__xxqOl {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__pPxw3 {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__rMeQs {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox___9Z57T {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__kNh4L:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img___3BsJj {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___3BsJj > picture > img {
  object-fit: cover;
}
.img___3BsJj > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__uHpYy {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__lYRre {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__mSm77 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__pe7Md {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard___3DqGe:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__a5PmP {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__a5PmP > picture > img {
  object-fit: cover;
}
.img__a5PmP > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__quOc3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__qKgDv {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__yK09D {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__sIu9R {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__a1EA5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__kua8Z {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__kua8Z > picture > img {
  object-fit: cover;
}
.img__kua8Z > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___7GysL {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__cvGEa {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__z2Ax7 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__wYpqy {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__sGHt6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__nHu7B {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__nHu7B > picture > img {
  object-fit: cover;
}
.img__nHu7B > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__gf6U {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__t0Xx9 {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__mBh4S {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox___8UnyV {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard___4H9ZL:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img___310B2 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___310B2 > picture > img {
  object-fit: cover;
}
.img___310B2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__kaz1Z {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__uzziw {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__xqOe3 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__zdw8J {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__liVuH:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img___8N5B4 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___8N5B4 > picture > img {
  object-fit: cover;
}
.img___8N5B4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__pEkRl {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__hySM {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__uHhOw {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__b4K9O {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__gwhQv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__pgaGo {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__pgaGo > picture > img {
  object-fit: cover;
}
.img__pgaGo > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__rScPu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__w7OCh {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__bb5Xb {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__tC0U {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__skRb9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__vs1Sd {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__vs1Sd > picture > img {
  object-fit: cover;
}
.img__vs1Sd > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__mh7Zq {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__tiJf {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__jWoRl {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__kElz {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__lYhv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__ginj {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ginj > picture > img {
  object-fit: cover;
}
.img__ginj > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__bqfJ2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__ka8D7 {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__ldlCm {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__ltk5M {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__rym3J:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__wxO2 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__wxO2 > picture > img {
  object-fit: cover;
}
.img__wxO2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__ddh9 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__qeJ4T {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__hRttN {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__rGscn {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.productCard__eRjjl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.img__puoz4 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__puoz4 > picture > img {
  object-fit: cover;
}
.img__puoz4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__sMil0 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__k8GdK {
  width: 100%;
  height: auto;
  color: #d8d8d8 /* plasmic-token: pQh8-7hcVchT */;
  text-align: left;
  min-width: 0;
}
.freeBox__ofkM2 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #c3c3c3;
  text-decoration-line: line-through;
}
.freeBox__q8Cyn {
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #d00909;
  font-size: 13px;
  width: auto;
  display: inline-block;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.freeBox__iauj9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__iauj9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iauj9 > :global(.__wab_flex-container) > *,
.freeBox__iauj9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iauj9 > :global(.__wab_flex-container) > picture > img,
.freeBox__iauj9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___6GYlO {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.freeBox__j0KZh {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textbox {
  line-height: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root .textbox:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.button__eMEjk:global(.__wab_instance) {
  position: relative;
}
.svg__xiJoo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0TZwh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___600Iu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pJFs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ou83Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2ZBeo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__kPe3Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__kPe3Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kPe3Q > :global(.__wab_flex-container) > *,
.freeBox__kPe3Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kPe3Q > :global(.__wab_flex-container) > picture > img,
.freeBox__kPe3Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__nvlXu {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__kPwpA {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kPwpA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__kPwpA > :global(.__wab_flex-container) > *,
.freeBox__kPwpA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kPwpA > :global(.__wab_flex-container) > picture > img,
.freeBox__kPwpA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg___7GCb0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__hikY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yZt48 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gawEd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hFkyJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ri5AH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__xGjso:global(.__wab_instance) {
  position: relative;
}
.svg__taHcf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__dtz11 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1AotN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fT2Yb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iOlUp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__hiVjg {
  height: auto;
}
.svg__xbQb7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__nM1Gv:global(.__wab_instance) {
  position: relative;
}
.svg__d9SNl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__eKOuJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aDlC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tpkMd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vg5R9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__mMihY {
  height: auto;
}
.svg__upzcn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__oobj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__oobj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__oobj > :global(.__wab_flex-container) > *,
.freeBox__oobj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oobj > :global(.__wab_flex-container) > picture > img,
.freeBox__oobj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__x0RnN {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__z1Ar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__vZjrg {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__vZjrg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vZjrg > :global(.__wab_flex-container) > *,
.freeBox__vZjrg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vZjrg > :global(.__wab_flex-container) > picture > img,
.freeBox__vZjrg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__kTh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1JYsr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ef7Cw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qPRwx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ckbuL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__p7Ta {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tpJd4:global(.__wab_instance) {
  position: relative;
}
.svg__uMWlB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kw3ZA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__u7ZQh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pnQ4Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h74N5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___57U8A {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___3AgHg:global(.__wab_instance) {
  position: relative;
}
.svg__ob1T5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5EUZs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jnzqI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eptQ9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ayLro {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jpjQy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ny9Tb:global(.__wab_instance) {
  position: relative;
}
.svg__yzK6V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dulJc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__slvQi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qnCqq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__q3Wl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dyjrz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__lrjF {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__lrjF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lrjF > :global(.__wab_flex-container) > *,
.freeBox__lrjF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lrjF > :global(.__wab_flex-container) > picture > img,
.freeBox__lrjF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__kxe10:global(.__wab_instance) {
  position: relative;
}
.svg__ms9Pc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gXJqF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4KiHw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lufY3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8HkGp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ru1Y {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kSNk4:global(.__wab_instance) {
  position: relative;
}
.svg__acHfR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k4R44 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___23UkD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xpP9W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i6X3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b5Bg0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hDvrs:global(.__wab_instance) {
  position: relative;
}
.svg__ooRTx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6RzG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vXc7F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zb1Hc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iiQK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__saCdt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
